<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>Controller.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>Controller.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizerRegister</servlet-name>
        <servlet-class>Controller.OrganizerRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizerLogin</servlet-name>
        <servlet-class>Controller.OrganizerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTournamentServlet</servlet-name>
        <servlet-class>Controller.CreateTournamentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizerEditServlet</servlet-name>
        <servlet-class>Controller.OrganizerEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterTournamentServlet</servlet-name>
        <servlet-class>Controller.RegisterTournamentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTeamRegistration</servlet-name>
        <servlet-class>Controller.SubmitTeamRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeamRegistrationServlet</servlet-name>
        <servlet-class>Controller.UpdateTeamRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRejectTeamServlet</servlet-name>
        <servlet-class>Controller.ApproveRejectTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartTournamentServlet</servlet-name>
        <servlet-class>Controller.StartTournamentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateGroupsServlet</servlet-name>
        <servlet-class>Controller.GenerateGroupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMatchResultServlet</servlet-name>
        <servlet-class>Controller.UpdateMatchResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateBracketServlet</servlet-name>
        <servlet-class>Controller.GenerateBracketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcludeTournamentServlet</servlet-name>
        <servlet-class>Controller.ConcludeTournamentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>Controller.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserPassword</servlet-name>
        <servlet-class>Controller.UpdateUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrganizerProfile</servlet-name>
        <servlet-class>Controller.UpdateOrganizerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrganizerPassword</servlet-name>
        <servlet-class>Controller.UpdateOrganizerPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReportServlet</servlet-name>
        <servlet-class>Controller.GenerateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordResetServlet</servlet-name>
        <servlet-class>Controller.PasswordResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizerRegister</servlet-name>
        <url-pattern>/OrganizerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizerLogin</servlet-name>
        <url-pattern>/OrganizerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTournamentServlet</servlet-name>
        <url-pattern>/CreateTournamentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizerEditServlet</servlet-name>
        <url-pattern>/OrganizerEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterTournamentServlet</servlet-name>
        <url-pattern>/RegisterTournamentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTeamRegistration</servlet-name>
        <url-pattern>/SubmitTeamRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeamRegistrationServlet</servlet-name>
        <url-pattern>/UpdateTeamRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRejectTeamServlet</servlet-name>
        <url-pattern>/ApproveRejectTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartTournamentServlet</servlet-name>
        <url-pattern>/StartTournamentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateGroupsServlet</servlet-name>
        <url-pattern>/GenerateGroupsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMatchResultServlet</servlet-name>
        <url-pattern>/UpdateMatchResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateBracketServlet</servlet-name>
        <url-pattern>/GenerateBracketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcludeTournamentServlet</servlet-name>
        <url-pattern>/ConcludeTournamentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/UpdateUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserPassword</servlet-name>
        <url-pattern>/UpdateUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrganizerProfile</servlet-name>
        <url-pattern>/UpdateOrganizerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrganizerPassword</servlet-name>
        <url-pattern>/UpdateOrganizerPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReportServlet</servlet-name>
        <url-pattern>/GenerateReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordResetServlet</servlet-name>
        <url-pattern>/PasswordResetServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
